.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.img-container {
  max-width: 4000px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
